@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject ILogger<Cherrydown> _logger

@* <button @onclick="ShowPrompt">Show Prompt</button>
<button @onclick="ShowPrompt1">Show Prompt1</button> *@

<div @ref="@ElementRef" id="@ElementId"></div>